.App {
  text-align: center;
}

.App-header {
  background-color: hsl(257, 95%, 35%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
p {
  width: 60%;
}
main{
  display: flex;
}
.card{
  margin: auto;
}
button{
  margin: 20px;
}
.list{
  padding: 20px;
  margin-bottom: 10px;
}
.info{
  width: 40%;  
}
.buttons{
  display: inline-block;
}
